.form-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

.student-card {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
}

button {
    margin: 10px 0;
    padding: 6px 12px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

.dashboard-btn {
    background: green;
    padding: 5px 10px;
    color: #fff;
    text-decoration: none;
}
