{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/styleee.css' %}">
</head>
<body>
    <div class="navbar">
        <h1>📘 School LMS</h1>
        <div>
            {% if user_type == 'teacher' %}

                <a href="{% url 'add_student' %}">Add Student</a>
            {% endif %}
            <a class="logout-btn" href="{% url 'logout' %}">Logout</a>
        </div>
    </div>
    <div class="container">
        <h2>Welcome, {{ user.username }}</h2>
        {% if user_type == 'teacher' %}
            <h3>Teacher Dashboard</h3>
            <p>Email: {{ user.email }}</p>
        {% elif user_type == 'student' %}
            <h3>Student Dashboard</h3>
            <p>Email: {{ user.email }}</p>
        {% else %}
            <p>User type not recognized.</p>
        {% endif %}
    </div>
</body>
</html>